{% extends "layout.html" %}

{% block main_content %}

<div class="container">
    <form class="row navbar-form" role="search">
          <input type="text" class="col-md-8 form-control" id="search-box" placeholder="Search">
          <button type="submit" class="col-md-1 btn btn-primary btn-default">Search</button>
    </form>

{% endblock main_content %}

{% block results_content %}

<table class="table table-striped table-bordered">

<tbody> 

<tr><td>
    <div class="articleBlock" date="August 16, 2016">
        <h4 class="articleInfo">
            <a href="http://pythonhosted.org/watchdog/" rel="nofollow">Watchdog — watchdog v0.5.4 documentation</a>
        </h4>

        <blockquote class="articleDesc">
              <p>watch filesystem for changes - library and cli</p>
        </blockquote>

        <ul class="tagNames list-inline">
            <li><a href="http://del.icio.us/tatlow/python">python</a></li>
            <li><a href="http://del.icio.us/tatlow/cli">cli</a></li>
            <li><a href="http://del.icio.us/tatlow/filesystem">filesystem</a></li>
            <li><a href="http://del.icio.us/tatlow/sysprog">sysprog</a></li>
        </ul>
    </div> <!-- end articleBlock--!>
    </td></tr> 

<tr><td>
    <div class="articleBlock" date="August 16, 2016">
        <h4 class="articleInfo">
            <a href="http://pythonhosted.org/watchdog/" rel="nofollow">Watchdog — watchdog v0.5.4 documentation</a>
        </h4>

        <blockquote class="articleDesc">
              <p>watch filesystem for changes - library and cli</p>
        </blockquote>

        <ul class="tagNames list-inline">
            <li><a href="http://del.icio.us/tatlow/python">python</a></li>
            <li><a href="http://del.icio.us/tatlow/cli">cli</a></li>
            <li><a href="http://del.icio.us/tatlow/filesystem">filesystem</a></li>
            <li><a href="http://del.icio.us/tatlow/sysprog">sysprog</a></li>
        </ul>
    </div> <!-- end articleBlock--!>
    </td></tr> 

<tr><td>
    <div class="articleBlock" date="August 16, 2016">
        <h4 class="articleInfo">
            <a href="http://pythonhosted.org/watchdog/" rel="nofollow">Watchdog — watchdog v0.5.4 documentation</a>
        </h4>

        <blockquote class="articleDesc">
              <p>watch filesystem for changes - library and cli</p>
        </blockquote>

        <ul class="tagNames list-inline">
            <li><a href="http://del.icio.us/tatlow/python">python</a></li>
            <li><a href="http://del.icio.us/tatlow/cli">cli</a></li>
            <li><a href="http://del.icio.us/tatlow/filesystem">filesystem</a></li>
            <li><a href="http://del.icio.us/tatlow/sysprog">sysprog</a></li>
        </ul>
    </div> <!-- end articleBlock--!>
    </td></tr> 

<tr><td>
    <div class="articleBlock" date="August 16, 2016">
        <h4 class="articleInfo">
            <a href="http://pythonhosted.org/watchdog/" rel="nofollow">Watchdog — watchdog v0.5.4 documentation</a>
        </h4>

        <blockquote class="articleDesc">
              <p>watch filesystem for changes - library and cli</p>
        </blockquote>

        <ul class="tagNames list-inline">
            <li><a href="http://del.icio.us/tatlow/python">python</a></li>
            <li><a href="http://del.icio.us/tatlow/cli">cli</a></li>
            <li><a href="http://del.icio.us/tatlow/filesystem">filesystem</a></li>
            <li><a href="http://del.icio.us/tatlow/sysprog">sysprog</a></li>
        </ul>
    </div> <!-- end articleBlock--!>
    </td></tr> 

<tr><td>
    <div class="articleBlock" date="August 16, 2016">
        <h4 class="articleInfo">
            <a href="http://pythonhosted.org/watchdog/" rel="nofollow">Watchdog — watchdog v0.5.4 documentation</a>
        </h4>

        <blockquote class="articleDesc">
              <p>watch filesystem for changes - library and cli</p>
        </blockquote>

        <ul class="tagNames list-inline">
            <li><a href="http://del.icio.us/tatlow/python">python</a></li>
            <li><a href="http://del.icio.us/tatlow/cli">cli</a></li>
            <li><a href="http://del.icio.us/tatlow/filesystem">filesystem</a></li>
            <li><a href="http://del.icio.us/tatlow/sysprog">sysprog</a></li>
        </ul>
    </div> <!-- end articleBlock--!>
    </td></tr> 

</tbody> 

</table>


{% endblock results_content %}
